FROM python:{{ python_docker_version }}

RUN apt update && apt install -y software-properties-common
RUN apt install -y tree cmake libgl1-mesa-glx poppler-utils tesseract-ocr \
    libtesseract-dev libleptonica-dev tesseract-ocr-rus mc
RUN pip3 install --upgrade pip

WORKDIR /app

COPY requirements.txt ./requirements.txt
RUN pip3 install -r requirements.txt

COPY ./ ./
RUN chmod +x ./run.sh

ENTRYPOINT ["{{ cmd }}"]