import time

from fastapi import FastAPI, Request, status
from piper.envs import CurrentEnv

{% for script_name in meta_info.scripts.keys() %}
from {{ script_name }} import *
{% endfor %}

app = FastAPI(debug=True)

@app.post('/health_check', status_code = status.HTTP_200_OK)
async def health_check():
    return {"message": "health check"}

with CurrentEnv():
    service = {{ meta_info.class_name }}(
        {% for k, v in meta_info.init_kwargs.items() %}
        {{ k }}={{ v }},
        {% endfor %}
    )

    {% for async_function in meta_info.async_functions %}
    @app.post('/{{ async_function.name }}')
    async def {{ async_function.name }}(
        {% for function_arg in async_function.input_args %}
        {{function_arg.name}}: {{function_arg.type_name}},
        {% endfor %}
    ):
        result = await service.{{ async_function.name }}({% for function_arg in async_function.input_args %}{{function_arg.name}},{% endfor %})

        return result.dict()
    {% endfor %}